---
# Required Front Matter placeholder; currently empty.
---

@charset "utf-8";

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family:   "Trebuchet MS", Helvetica, Arial, sans-serif !default;
$title-font-family:      "Arial Black", "Trebuchet MS", Helvetica, Arial, sans-serif !default;

$grid-gutter-width:       30px !default;
$container-desktop:       (900px + $grid-gutter-width) !default;
$container-large-desktop: (900px + $grid-gutter-width) !default;

$font-size-base:         16px !default;
$font-size-h1:           floor(($font-size-base * 2.2)) !default;
$font-size-h2:           floor(($font-size-base * 1.7)) !default;
$font-size-h3:           ceil(($font-size-base * 1.4)) !default;
$font-size-h4:           ceil(($font-size-base * 1.1)) !default;
$font-size-h5:           $font-size-base !default;
$font-size-h6:           ceil(($font-size-base * 0.7)) !default;
$font-size-navbar:       14px !default;
$font-size-navbar-brand: 18px !default;

$carousel-height: 350px;

// Theme colors.  Should be kept in sync with the colors of the carousel
// background.
$glyphicon-background-color: #da3;
$glyphicon-foreground-color: white;
$footer-border-color: #fc5;

$vertical-rhythm: 30px;

@import "bootstrap";
@import "syntax-highlighting";

// Must come last so overrides work.
@import "base";
