---
layout: page
title: Archive
subtitle: Full collection of all posts contained in this site
permalink: /archive/
navgroup: right
---

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="posts-archive">
        {% for post in site.posts %}
          <li>
            <span><a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}</a></span>
            <span class="post-meta">
              {% include date.html date=post.date %}
              &middot;
              <a href="{{ post.url | prepend: site.url }}#disqus_thread">Comments</a>
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-3 marketing">
      {% include subscription.html %}
    </div>
  </div>
</div>

{% if site.environment == "production" %}
<script id="dsq-count-scr" src="//jmmv.disqus.com/count.js" async></script>
{% endif %}
