---
layout: page
title: Essays
subtitle: Recollection of key articles I have published
permalink: /essays/
---

<p>Writing is one of my hobbies and you can access all of my articles,
papers, and essays online.  This hobby started a long time ago and
matured with <a href="http://julipedia.meroh.net/">The Julipedia</a>, my
former blog, which I begain in June 2004 and that was subsumed into this
site on May 2016 <!--TODO(jmmv): Add post to announcement. -->.</p>

<h1>Featured articles</h1>

<p>The following is a <strong>reduced selection</strong> of my best
articles, not all of which have been published in this site:</p>

<ul>
  {% for post in site.posts %}
    {% if post.categories contains "featured" %}
      <li>{{ post.date | date: "%Y-%m-%d" }}:
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}

  <li>2012-08-07:
  <a href="https://blog.netbsd.org/tnf/entry/introducing_sysbuild_and_sysupgrade">Introducing
  sysbuild and sysupgrade</a> <small>[NetBSD blog]</small></li>

  <li>2007-03-01:
  <a href="http://www.onlamp.com/pub/a/bsd/2007/03/01/inside-multiboot.html">Making
  NetBSD Multiboot-Compatible</a> <small>[ONLamp]</small></li>

  <li>2006-05-04:
  <a href="http://www.onlamp.com/pub/a/onlamp/2006/05/04/smart-pointers.html">Smart
  Pointers in C++</a> <small>[ONLamp]</small></li>

  <li>2005-10-13:
  <a href="http://www.onlamp.com/pub/a/bsd/2005/10/13/thttpd.html">Lightweight
  Web Serving with thttpd</a> <small>[ONLamp]</small></li>

  <li>2005-04-28:
  <a href="http://www.linuxdevcenter.com/pub/a/onlamp/2005/04/28/packaging2.html">Making
  Packager-Friendly Software, Part 2</a> <small>[ONLamp]</small></li>

  <li>2005-03-31:
  <a href="http://www.linuxdevcenter.com/pub/a/onlamp/2005/03/31/packaging.html">Making
  Packager-Friendly Software</a> <small>[ONLamp]</small></li>
</ul>

<h1>Archive</h1>

{% include archive.html %}
