---
layout: empty
---

<!-- We need these to be present early during load so we can avoid hiding
     or showing elements once the page has already been rendered. -->
<script src="{{ '/js/jquery-1.11.2.min.js' | prepend: site.baseurl }}">
</script>
<script src="{{ '/js/js.cookie-2.1.1.min.js' | prepend: site.baseurl }}">
</script>

<script>
  function loadMarketing() {
      var cookie = Cookies.get("marketing-visible");
      if (cookie === undefined || cookie === "true") {
        toggleMarketing(true);
      } else {
        toggleMarketing(false);
      }
  }

  function toggleMarketing(action) {
    if (action) {
      $("#collapse-row").show();
      $("#buttons").show();
      $("#expand-row").hide();
      Cookies.set("marketing-visible", "true", {path: ""});
    } else {
      $("#expand-row").show();
      $("#buttons").hide();
      $("#collapse-row").hide();
      Cookies.set("marketing-visible", "false", {path: ""});
    }
  }
</script>

<div class="page-header">
  <div class="container">
    <h1>Julio Merino</h1>

    <p>Software artist.  Writer aficionado.  Open source enthusiast.
    Runner.  Father of two.<br/>
    <strong>Currently:</strong> Senior Software Engineer at Google,
    New York City.</p>

    <div class="marketing row" style="display: none" id="buttons">
      <div class="col-md-3">
        <a href="{{ "/essays/" | prepend: site.baseurl }}">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <h2>Author</h2>

        <p>Writer by hobby, typically covering programming topics.
        No fiction.  Find below for the most recent posts or
        open this section for general highlights.</p>
      </div>

      <div class="col-md-3">
        <a href="{{ "/software/" | prepend: site.baseurl }}">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <h2>Developer</h2>

        <p>Author of various Open Source projects and contributor to many
        more.  BSD enthusiast.  Motto: production software can be
        beautiful.</p>
      </div>

      <div class="col-md-3">
        <a href="{{ "/work/" | prepend: site.baseurl }}">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        </a>
        <h2>Engineer</h2>

        <p>Senior Software Engineer (and, previously, Senior Site Reliability
        Engineer) at Google in New York City.</p>
      </div>

      <div class="col-md-3">
        <a href="{{ "/about/" | prepend: site.baseurl }}">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
        <h2>Social</h2>

        <p>Reachable via all the traditional contact mechanisms and the major
        social networks.  See my about page for all the references.</p>
      </div>
    </div>

    <div class="row" style="display: none" id="collapse-row">
      <p class="text-center"><small>
        <a href="javascript:toggleMarketing(false)">
          <span class="glyphicon glyphicon-chevron-up"
                aria-hidden="true"></span>
          Collapse
          <span class="glyphicon glyphicon-chevron-up"
                aria-hidden="true"></span>
        </a>
      </small></p>
    </div>

    <div class="row" style="display: none" id="expand-row">
      <p class="text-center"><small>
        <a href="javascript:toggleMarketing(true)">
          <span class="glyphicon glyphicon-chevron-down"
                aria-hidden="true"></span>
          Expand
          <span class="glyphicon glyphicon-chevron-down"
                aria-hidden="true"></span>
        </a>
      </small></p>
    </div>

    <!-- All the rows above were loaded hidden, so display only the needed
         ones now.  This ensures that we are able to render the page
         sequentially and prevent strange jumps during rendering. -->
    <script>loadMarketing();</script>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% include posts.html posts=paginator.posts %}

      <div class="pagination">
        {% if paginator.previous_page %}
          <span class="previous"><a
          href="{{ paginator.previous_page_path }}">&laquo;
          Newer posts</a></span>
        {% else %}
          <span class="previous"></span>
        {% endif %}

        <span class="current">Page {{ paginator.page }} of
        {{ paginator.total_pages }}</span>

        {% if paginator.next_page %}
          <span class="next"><a
          href="{{ paginator.next_page_path }}">Older posts
          &raquo;</a></span>
        {% else %}
          <span class="next"></span>
        {% endif %}
      </div>
    </div>
    <div class="col-md-3 sidebar">
      {% include sidebar.html %}
    </div>
  </div>
</div>
