---
layout: page
title: Writing
subtitle: Recollection of key articles I have published
permalink: /writing/
---

<p>Writing is one of my hobbies and you can read all of my articles and
essays online.  This page contains a curated recollection of my best posts,
and <strong><a href="/archive/">the archive section</a></strong> gives you
access to even more content.</p>

<p>Writing is a hobby that started a long time ago and matured with <a
href="http://julipedia.meroh.net/">The Julipedia</a>, my former blog, which I
begain in 2004 and that is being subsumed into this site.</p>

<p>The <strong>reduced selection</strong> of my best articles is this:</p>

<ul>
  {% for post in site.posts %}
    {% if post.categories contains "essay" %}
      <li>{{ post.date | date: "%Y-%m-%d" }}:
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}

  <li>2015-04-14:
  <a href="http://julipedia.meroh.net/2015/04/on-bazel-and-open-source.html">On
  Bazel and Open Source</a> <small>[The Julipedia]</small></li>

  <li>2014-11-20:
  <a href="http://julipedia.meroh.net/2014/11/task-tracking-and-bullet-journal.html">Task
  tracking and the Bullet journal</a> <small>[The Julipedia]</small></li>

  <li>2014-05-31:
  <a href="http://julipedia.meroh.net/2014/05/code-review-culture-meets-freebsd.html">Code
  review culture meets FreeBSD</a> <small>[The Julipedia]</small></li>

  <li>2014-02-15:
  <a href="http://julipedia.meroh.net/2014/02/how-to-merge-multiple-git-repositories.html">How
  to merge multiple Git repositories into one</a> <small>[The
  Julipedia]</small></li>

  <li>2013-12-31:
  <a href="http://julipedia.meroh.net/2013/12/introducing-freebsd-test-suite.html">Introducing
  the FreeBSD Test Suite</a> <small>[The Julipedia]</small></li>

  <li>2013-07-15:
  <a href="http://julipedia.meroh.net/2013/07/putting-powermac-g5-to-good-use.html">Putting
  a PowerMac G5 to good use</a> <small>[The Julipedia]</small></li>

  <li>2013-06-20:
  <a href="http://julipedia.meroh.net/2013/06/self-interview-after-leaving-netbsd.html">Self-interview
  after leaving the NetBSD board</a> <small>[The Julipedia]</small></li>

  <li>2012-08-07:
  <a href="https://blog.netbsd.org/tnf/entry/introducing_sysbuild_and_sysupgrade">Introducing
  sysbuild and sysupgrade</a> <small>[NetBSD blog]</small></li>

  <li>2007-03-01:
  <a href="http://www.onlamp.com/pub/a/bsd/2007/03/01/inside-multiboot.html">Making
  NetBSD Multiboot-Compatible</a> <small>[ONLamp]</small></li>

  <li>2006-05-04:
  <a href="http://www.onlamp.com/pub/a/onlamp/2006/05/04/smart-pointers.html">Smart
  Pointers in C++</a> <small>[ONLamp]</small></li>

  <li>2005-10-13:
  <a href="http://www.onlamp.com/pub/a/bsd/2005/10/13/thttpd.html">Lightweight
  Web Serving with thttpd</a> <small>[ONLamp]</small></li>

  <li>2005-04-28:
  <a href="http://www.linuxdevcenter.com/pub/a/onlamp/2005/04/28/packaging2.html">Making
  Packager-Friendly Software, Part 2</a> <small>[ONLamp]</small></li>

  <li>2005-03-31:
  <a href="http://www.linuxdevcenter.com/pub/a/onlamp/2005/03/31/packaging.html">Making
  Packager-Friendly Software</a> <small>[ONLamp]</small></li>
</ul>
