<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}
        &middot;
        <a href="{{ post.url | prepend: site.url }}#disqus_thread">Comments</a>
      </span>
      {% if post.excerpt %}
      <p>
        {{ post.excerpt | strip_html }}
        <a href="{{ post.url | prepend: site.baseurl }}">[Continue reading]</a>
      </p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <span class="previous"><a href="{{ paginator.previous_page_path }}">&laquo;
    Newer posts</a></span>
  {% else %}
    <span class="previous"></span>
  {% endif %}

  <span class="current">Page {{ paginator.page }} of
  {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <span class="next"><a href="{{ paginator.next_page_path }}">Older posts
    &raquo;</a></span>
  {% else %}
    <span class="next"></span>
  {% endif %}
</div>
