{% comment %}
This template renders a list of given posts.

The caller must past the list of posts via the "posts" variable.
{% endcomment %}

<ul class="post-list">
  {% for post in include.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <span class="post-meta">{% include date.html date=post.date %}
        &middot;
        <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">
          <span class="disqus-comment-count"
                data-disqus-url="{{ post.url | prepend: site.url }}">Comments</span>
        </a>
      </span>
      {% if post.excerpt %}
      <p>
        {{ post.excerpt | strip_html }}
        <a href="{{ post.url | prepend: site.baseurl }}">[Continue reading]</a>
      </p>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if site.environment == "production" %}
<script id="dsq-count-scr" src="//jmmv.disqus.com/count.js" async></script>
{% endif %}
