<div class="col-xs-3 text-center">
  <a href="https://twitter.com/jmmv">
    <img width="32" height="32"
         src="{{ "/images/badges/Twitter_logo_blue_32.png" | prepend: site.baseurl }}" alt="Twitter profile"></img>
  </a>
</div>

<div class="col-xs-3 text-center">
  <a href="https://plus.google.com/+JulioMerino">
    <img width="32" height="32"
         src="{{ "/images/badges/gplus-32.png" | prepend: site.baseurl }}" alt="Google+ profile"></img>
  </a>
</div>

<div class="col-xs-3 text-center">
  <a href="https://www.facebook.com/julio.merino">
    <img width="32" height="32"
         src="{{ "/images/badges/FB-f-Logo__blue_29.png" | prepend: site.baseurl }}" alt="Facebook profile"></img>
  </a>
</div>

<div class="col-xs-3 text-center">
  <a href="https://www.linkedin.com/in/juliomerino">
    <img width="40" height="32"
         src="{{ "/images/badges/In-2C-34px-R.png" | prepend: site.baseurl }}" alt="LinkedIn profile"></img>
  </a>
</div>
