.navbar {
  font-size: $font-size-navbar;
}
.navbar-brand {
  font-size: $font-size-navbar-brand;
}

.page-header {
  background: $base-color;
  background: linear-gradient(to bottom, $base-color, $accent-color);
  padding-bottom: 30px;
  padding-top: 30px;
}

.page-header h1 {
  color: $header-primary-color;
  font-family: $title-font-family;
}

.page-header p {
  color: $header-secondary-color;
}

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: $vertical-rhythm;
  text-align: center;
  font-size: 80%;
}
.marketing h2 {
  color: $glyphicon-foreground-color;
  font-weight: normal;
}
.marketing .row {
  margin-top: $vertical-rhythm;
  margin-bottom: $vertical-rhythm;
}
.marketing p {
  margin-right: 10px;
  margin-left: 10px;
}
.marketing .glyphicon {
  background-color: $glyphicon-background-color;
  color: $glyphicon-foreground-color;;
  font-size: 50px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
}
.marketing a:hover .glyphicon-link {
  text-decoration: none;
}

.container > footer {
  margin-top: $vertical-rhythm;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $footer-border-color;
  font-size: smaller;
}

footer p {
  margin: $vertical-rhythm / 2;
}

.padded-row {
  margin: $vertical-rhythm / 2;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $vertical-rhythm / 2;
}

.post-list {
  margin-left: 0;
  padding: 0;
  list-style: none;

  > li {
    margin-bottom: $vertical-rhythm;
  }
}

.post-meta {
  font-size: 12px;
  color: #ccc;
}

.post-link {
  display: block;
  font-size: 24px;
}

div.post-links {
  border-top: 2px dotted #ddd;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-top: 20px;
}

.page-header .cover-image {
  width: 100%;
}

article p {
  line-height: 170%;
}

article img.with-border {
  border-style: solid;
  border-width: 1px;
}

article img.float-left {
  margin-right: 20px;
  float: left;
}

article img.float-right {
  margin-left: 20px;
  float: right;
}

article img.block {
  display: block;
  margin: 0 auto;
  width: 80%;
}

article .frame {
  display: block;
  margin: 0 auto;
  width: 80%;

  .content {
    margin: 0 auto;

    iframe {
      display: block;
      margin: 0 auto;
    }
  }

  .footer {
    color: #999;
    font-size: smaller;
    font-style: italic;
    margin-top: 5px;
    text-align: center;
  }
}

table {
  // Bootstrap requires tables to carry a .table class in order for styling to
  // be applied.  However, redcarpet emits table elements without the class and
  // it is not possible to customize it.  Therefore, just override the default
  // styling for the table element and apply what we like.
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
}

form.feedburner {
  padding: 3px;
  text-align: center;
}

.center {
  text-align: center;
}

div #toc {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

#toc ul {
  list-style: none;
  padding-left: 20px;
}

.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}

.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.pagination {
  font-size: smaller;
  display: flex;
  justify-content: space-between;
}

ul.posts-archive {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.posts-archive li {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}