<div class="row">
  <h2>Subscribe</h2>

  <div class="row">
    <div class="col-sm-9">
      <p><a
        href="https://twitter.com/jmmv"
        class="twitter-follow-button"
        data-show-count="false"
        data-size="large">Follow @jmmv</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
    </div>
    <div class="col-sm-3">
      <p><a href="/feed.xml"><img
        src="/images/badges/feed-icon-28x28.png" alt="RSS feed"></a></p>
    </div>
  </div>

  <form class="feedburner form-horizontal"
        action="https://feedburner.google.com/fb/a/mailverify"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=jmmv', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <input type="text" name="email"
      placeholder="Enter your email and press enter"
      class="form-control input-sm"/>
    <input type="hidden" value="jmmv" name="uri"/>
    <input type="hidden" name="loc" value="en_US"/>
    <p>
      <small>Subscription by
      <a href="https://feedburner.google.com"
      target="_blank">FeedBurner</a></small>
    </p>
  </form>
</div>

<div class="row archive">
  <h2>Archive</h2>

  <ul>
    {{ range (where .Site.Pages "Type" "post").GroupByDate "2006" }}
      <li>
        {{ $year := .Key }}
        <a data-toggle="collapse" href="#archive-year-{{ $year }}">{{ $year }}</a> ({{ len .Pages }})
        <ul id="archive-year-{{ $year }}" class="collapse">
          {{ range .Pages.GroupByDate "2006-01" }}
            {{ $month := dateFormat "January" (print .Key "-01") }}
            <li><a href="/essays.html#{{ .Key }}">{{ print $month " " $year }}</a> ({{ len .Pages }})</li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</div>
