---
layout: base
---

<div class="content container">
  <header>
    {% if page.cover-image %}
    <img src="/images/{{ page.cover-image }}"
         class="cover-image" />
    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} &middot; {{ page.author }}{% endif %}
    {% if page.meta %} &middot; {{ page.meta }}{% endif %}</p>
    {{ content }}
  </article>
</div>

<div class="container">
  <p class="post-links">
    {% if page.gplus %}
    <a href="https://plus.google.com/+JulioMerino/posts/{{ page.gplus }}">
    Posted on Google+</a>
    &middot;
    {% endif %}

    {% if page.julipedia %}
    <a href="http://julipedia.meroh.net/{{ page.julipedia }}">Posted on
    The Julipedia</a>
    &middot;
    {% endif %}

    {% if page.medium %}
    <a href="https://medium.com/@jmmv/{{ page.medium }}">Posted on Medium</a>
    &middot;
    {% endif %}

    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
    &middot;
    <a href="{{ "/blog/" | prepend: site.baseurl }}">Go to posts index</a>
  </p>
</div>
