<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
  </head>

  <body>
    {% include header.html %}

    <div class="page-header">
      <div class="container">
        <h1>{{ page.title }}</h1>

        <p>{% include date.html date=page.date %}
        {% if page.author %} &middot; {{ page.author }}{% endif %}
        {% if page.meta %} &middot; {{ page.meta }}{% endif %}</p>

        {% if page.cover-image %}
        <img src="/images/{{ page.cover-image }}"
            class="cover-image" />
        {% endif %}
      </div>
    </div>

    <div class="container">
      <article>
        {{ content }}
      </article>

      <div class="post-links">
        <p>
          {% if page.gplus %}
          <a href="https://plus.google.com/+JulioMerino/posts/{{ page.gplus }}">
          Posted on Google+</a>
          &middot;
          {% endif %}

          {% if page.julipedia %}
          <a href="http://julipedia.meroh.net/{{ page.julipedia }}">Posted on
          The Julipedia</a>
          &middot;
          {% endif %}

          {% if page.medium %}
          <a href="https://medium.com/@jmmv/{{ page.medium }}">Posted on
          Medium</a>
          &middot;
          {% endif %}

          <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe
          via RSS</a>
          &middot;
          <a href="{{ "/blog/" | prepend: site.baseurl }}">Go to posts index</a>
        </p>

        <form class="form-inline"
            action="https://feedburner.google.com/fb/a/mailverify"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=jmmv', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
          <div class="form-group form-group-sm">
            <input type="text" style="width: 400px" name="email"
                    placeholder="Enter your email to subscribe to new posts"
                    class="form-control input-sm"/>
          </div>
          <button type="submit" value="Subscribe"
                  class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          &nbsp;&nbsp;&nbsp;Delivered by
          <input type="hidden" value="jmmv" name="uri"/>
          <input type="hidden" name="loc" value="en_US"/>
          <a href="https://feedburner.google.com" target="_blank">FeedBurner</a>
        </form>
      </div>

      {% if site.environment == "production" %}
      <div id="disqus_thread">
        <script>
          var disqus_config = function () {
            this.page.url = "{{ page.url | prepend: site.url }}";
            this.page.identifier = "{{ page.id }}";
          };
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//jmmv.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
          powered by Disqus.</a>
        </noscript>
      </div>
      {% endif %}
    </div>

    {% include footer.html %}
  </body>
</html>
